---
import { getImage } from 'astro:assets'
import { getCollection } from 'astro:content'
import { format } from 'date-fns'

import Layout from '@/layouts/Layout.astro'

export const getStaticPaths = async () => {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content, headings } = await post.render()

const image = (await getImage({ src: post.data.image })).src
---

<Layout
  title={`${post.data.title} | Laddgeのページ`}
  description={`${format(post.data.pubDate, 'yyyy年M月d日の記事')}`}
  preloadImg={image}
  ogImg={image}
>
  <div class="max-w-[1024px] mx-auto pt-24 pb-6 px-6 grid grid-cols-3 gap-10">
    <div class="prose max-w-full col-span-3 lg:col-span-2">
      <a href="/articles" class="text-lg flex gap-2 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
          ><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"
          ></path></svg
        >
        Articles
      </a>
      <h1 class="text-3xl font-bold mt-6 mb-2">{post.data.title}</h1>
      <div class="flex flex-wrap gap-1">
        {
          post.data.tags.map((tag: string) => (
            <a
              href={`/articles?tags=${tag}`}
              class="btn btn-ghost px-1 h-auto min-h-0 normal-case text-base font-medium text-base-content/[.8] hover:underline"
            >
              #{tag}
            </a>
          ))
        }
      </div>
      <div class="my-2">
        {format(post.data.pubDate, 'MMM dd, yyyy')}
      </div>
      <div
        class="my-4 flex-none w-full aspect-[1200/630] rounded-box bg-base-200 bg-no-repeat bg-center bg-[length:3rem_3rem] overflow-hidden"
        style="background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIj48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xOS41IDE0LjI1di0yLjYyNWEzLjM3NSAzLjM3NSAwIDAwLTMuMzc1LTMuMzc1aC0xLjVBMS4xMjUgMS4xMjUgMCAwMTEzLjUgNy4xMjV2LTEuNWEzLjM3NSAzLjM3NSAwIDAwLTMuMzc1LTMuMzc1SDguMjVtMCAxMi43NWg3LjVtLTcuNSAzSDEyTTEwLjUgMi4yNUg1LjYyNWMtLjYyMSAwLTEuMTI1LjUwNC0xLjEyNSAxLjEyNXYxNy4yNWMwIC42MjEuNTA0IDEuMTI1IDEuMTI1IDEuMTI1aDEyLjc1Yy42MjEgMCAxLjEyNS0uNTA0IDEuMTI1LTEuMTI1VjExLjI1YTkgOSAwIDAwLTktOXoiIC8+PC9zdmc+Cg==);"
      >
        <img src={image} alt={post.slug} class="w-full h-full object-contain m-0" />
      </div>
      <div class="collapse bg-base-200 mt-6 relative md:hidden">
        <input type="checkbox" aria-label="Table of Contents" />
        <div
          class="collapse-title text-xl font-medium flex gap-3 items-center absolute top-0 px-4 text-base-content"
        >
          目次
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"
            ></path>
          </svg>
        </div>
        <div class="collapse-content">
          <ol class="list-none pl-4 pr-6">
            {
              headings
                .filter((h) => h.depth == 2 || h.depth == 3)
                .map((h) => (
                  <li class={h.depth == 3 ? 'pl-4' : ''}>
                    <a href={`#${h.slug}`} class="no-underline hover:underline">
                      {h.text}
                    </a>
                  </li>
                ))
            }
          </ol>
        </div>
      </div>
      <Content />
    </div>
    <div class="hidden lg:block prose pt-8">
      <div class="sticky top-0 pt-6">
        <div class="rounded-box bg-base-200 p-2">
          <ol class="list-none pl-4 pr-6">
            {
              headings
                .filter((h) => h.depth == 2 || h.depth == 3)
                .map((h) => (
                  <li class={h.depth == 3 ? 'pl-4' : ''}>
                    <a href={`#${h.slug}`} class="no-underline hover:underline">
                      {h.text}
                    </a>
                  </li>
                ))
            }
          </ol>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .rlc-container {
    @apply block rounded-box bg-base-200 w-full p-4 no-underline hover:underline grid grid-cols-3 items-center gap-4 !important;
  }
  .rlc-info {
    @apply col-span-2;
  }
  .rlc-title {
    @apply text-xl font-bold whitespace-nowrap overflow-hidden text-ellipsis mb-2;
  }
  .rlc-description {
    @apply line-clamp-2 text-sm;
  }
  .rlc-url-container {
    @apply flex gap-2 items-center mt-2;
  }
  .rlc-favicon {
    @apply m-0 flex-none w-4 h-4 !important;
  }
  .rlc-url {
    @apply overflow-hidden text-ellipsis;
  }
  .rlc-image {
    @apply rounded-xl m-0 w-full !important;
  }
</style>
