---
import CNAME from '../../public/CNAME?raw'
interface Props {
  title: string
  description: string
  preloadImg?: string
  ogImg?: string
}

const { title, description, preloadImg, ogImg } = Astro.props
---

<html lang="ja" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/laddge/image/upload/f_auto,q_auto/v1674993708/laddge.net/laddge.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="https://res.cloudinary.com/laddge/image/upload/f_auto,q_auto,c_scale,w_180,h_180/v1674993708/laddge.net/laddge.png"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {
      ogImg ? (
        <>
          <meta
            property="og:image"
            content={
              ogImg.startsWith('/')
                ? `https://${CNAME.slice(0, CNAME.indexOf('\n'))}${ogImg}`
                : ogImg
            }
          />
          <meta name="twitter:card" content="summary_large_image" />
        </>
      ) : (
        <>
          <meta
            property="og:image"
            content="https://res.cloudinary.com/laddge/image/upload/f_auto,q_auto,b_auto,c_pad,h_630,w_1200/v1674993708/laddge.net/laddge.png"
          />
          <meta name="twitter:card" content="summary" />
        </>
      )
    }
    <meta name="twitter:site" content="@laddge_" />
    {preloadImg && <link rel="preload" as="image" href={preloadImg} />}
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
      integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
      crossorigin="anonymous"
    />
  </head>
  <body class="h-full">
    <div id="navbar" class="navbar fixed top-0 bg-base-100/50 backdrop-blur z-50">
      <div class="w-full max-w-[1024px] mx-auto">
        <a href="/" class="btn btn-ghost normal-case text-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 64 64"
            class="w-8 h-8 mr-1 rounded-full"
          >
            <path fill="#28a3cc" d="M0 0h64v64H0z"></path>
            <path
              fill="#111"
              d="M21 31v4h3v1h1v2h1v2h1v1h1v1h1v2h7v-2h1v-1h-3v1h-4v-1h-2v-1h1v-2h-1v-1h-1v-1h-1v-1h-1v-5h1v-2h1v-3h1v-3h1v-1h-1v-5h1v2h1v-2h-1v-1h1v1h1v1h1v-1h1v2h1v-2h-1v-1h1v1h1v5h1v2h1v3h1v2h1v2h1v2h1v1h-1v1h-1v1h1v1h3v-1h1v-1h1v-5h-1v-1h-1v-2h-1v-1h-1v-1h-1v-2h-1v-2h-1v-8h-1v-1h-1v-1h-2V9h-3v1h-2v1h-1v1h-1v11h-1v1h-1v1h-1v2h-1v1h-1v3z"
            ></path>
            <path
              fill="#f2f8f9"
              d="M28 16v3h1v-3h1v1h1v-1h-1v-1h-1v1zm4 0v2h1v-2h1v3h1v-3h-1v-1h-1v1zm-7 14v5h1v1h1v1h1v1h1v2h-1v1h2v1h4v-1h3v-2h1v-3h1v-2h1v-1h1v-1h-1v-2h-1v-2h-1v-2h-1v-3h-1v-2h-2v1h-6v3h-1v3h-1v2z"
            ></path>
            <path
              fill="#f5bf04"
              d="M28 19v2h1v1h5v-1h1v-2h-1v-1h-2v-1h-2v1h-1v1zM17 38v5h1v1h4v1h6v-1h1v-2h-1v-1h-1v-1h-1v-2h-1v-2h-1v-1h-3v1h-1v1h-2v1zm19 4v2h1v1h4v-1h2v-1h2v-1h1v-1h1v-2h-1v-1h-1v-2h-1v-1h-1v1h-3v-1h-1v1h-1v3h-1v3z"
            ></path>
            <path
              fill="#111"
              d="M12 46v7h31v1h-3v1h4v-1h1v-1h6v-1h-3v-1h4v-2h-1v-1h-1v2h-2v-1h2v-1h-3v1h-1v3h1v1h-2v-4h-1v-1h-1v4h-2v-3h2v-1h-3v1h-1v3h1v1h-2v-7h-2v5h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-7h-2v5h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-4h-1v-1h-1v3h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-2h-1v1h-2v-6z"
            ></path>
          </svg>
          Laddgeのページ
        </a>
      </div>
    </div>
    <slot />
    <footer
      class="sticky top-[100vh] footer footer-center p-4 bg-neutral text-neutral-content"
      style={{ top: '100dvh' }}
    >
      <div>
        <p>&copy; 2023 Laddge</p>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    scroll-padding: 72px;
  }
</style>
